@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'ngx-toastr/toastr';
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff;
    color:#222;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

button{
    cursor:pointer;
    font-family:inherit;
}

:root{

    --primary:#2563eb;
    --secondary:#0f172a;

    --light:#f8fafc;
    --dark:#1e293b;

    --text:#334155;

    --border:#e2e8f0;

    --radius:12px;

}

